@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&display=swap');

:root {
  --white-theme-black: #1B1C1E;
  --blog-fontfamily: 'Montagu Slab', serif;
  --black-theme-white: #fff
}

.App {
  text-align: center;
  color: var(--white-theme-black);
  font-family: var(--blog-fontfamily);
}

.BlogPostThumnbail a {
  text-decoration: none;
  color: var(--white-theme-black);
}

.navigationLink {
  color: var(--black-theme-white);
  text-decoration: none;
  font-family: var(--blog-fontfamily);
  font-size: .6rem;
  font-weight: 500;
  float: left;
  margin-top: 5px;
  margin-bottom: 4px;
} 